<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("/partials/layout/head") %>

        <!-- load additional files -->
        <% if (styles && styles.length) { %>
            <% styles.forEach((style) => { %>
                <link rel="stylesheet" href="styles/<%= style %>">
            <% }); %>
        <% } %>

        <% if (scripts && scripts.length) { %>
            <script>
                const scriptsToLoad = <%- JSON.stringify(scripts) %>;

                onDomLoad(() => {
                    scriptsToLoad.forEach(script => {
                        loadScript(script);
                    });
                });
            </script>
        <% } %>
    </head>
    <body>
        <%- include("/partials/layout/header") %>

        <main id="main-content">
            <%- include(body) %>
        </main>

        <%- include("/partials/layout/footer") %>
    </body>
</html>