<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("/partials/layout/head") %>

        <!-- load additional files -->
        <% if (styles && styles.length) { %>
            <% styles.forEach((style) => { %>
                <link rel="stylesheet" href="styles/<%= style %>">
            <% }); %>
        <% } %>

        <% if ((scripts && scripts.length) || startupFunction) { %>
        <script>
            <% if (scripts && scripts.length) { %>
                const scriptsToLoad = <%- JSON.stringify(scripts) %>;
            <% } %>

            onDomLoad(async () => {
                <% if (scripts && scripts.length) { %>
                    await Promise.all(scriptsToLoad.map(loadScript));
                <% } %>


                <% if (startupFunction) { %>
                    <%- startupFunction %>
                <% } %>
            });
        </script>
        <% } %>
    </head>
    <body>
        <%- include("/partials/layout/header") %>

        <main id="main-content">
            <%- include(body) %>
        </main>

        <%- include("/partials/layout/footer") %>
    </body>
</html>